body{
    text-align: center;
    font-size: 1.3rem;
    font-family: serif;
    color: #333;
    background-color: rgb(255, 248, 226);
  }

.attr-head{
    background-color: rgb(252, 176, 148);
    background-size:auto;
    padding:0.2rem;
    display: inline;
}

#type-select{
    padding-top: 0rem;
    
}

.column{
    float: left;
    width: 50%
}

.row:after {
    content:"";
    display: table;
    clear:both;
}

#logo{
    width: 18rem;
}

#stat-list{
    line-height: .4rem ;
}

#pokemon-img{
    display:inline-block;
    justify-items: center;
}